@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
	margin: 0;

	.connection {
		background-image: url("../../assets/images/connection_background.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-color: rgb(48, 48, 58);
		height: 100vh;
		font-family: "poppins";

		.form-container {
			margin-top: 15%;
			align-items: center;
			justify-content: center;
			display: block;
			width: 300px;
			margin-left: auto;
			margin-right: auto;

			.birds-img {
				width: 35%;
				margin-left: auto;
				margin-right: auto;
				display: block;
			}

			.connection-type {
				list-style: none;
				display: flex;
				width: 100%;
				padding: 0%;
				margin: 0;

				.li-connection-active {
					display: inline-table;
					border: solid 2px rgba(37, 34, 34, 0.527);
					border-radius: 3px 3px 0px 0px;
					background-color: $primary;
					color: white;
					width: 50%;
					height: 13px;
					text-align: center;
				}

				.li-connection {
					display: inline-table;
					border: solid 2px rgba(37, 34, 34, 0.527);
					border-radius: 3px 3px 0px 0px;
					background-color: $secondary;
					color: white;
					width: 50%;
					height: 13px;
					text-align: center;
				}

				.li-connection:hover {
					background-color: $tertiary;
				}
			}
		}
	}
}
