.first_box {
    background-color: rgb(10, 45, 35);
    color: whitesmoke;
    height: 100vh;
    display: flex;
}

.second_box {
    font-family: sans-serif;
    background-color: rgb(10, 51, 37);
    color: whitesmoke;
    margin: auto;
    text-align: center;
    width: 55%;
    height: 37%;
    margin-top: 50vh;
    transform: translateY(-50%);
}

.first_text {
    margin-top: 5%;
    font-size: 1.6rem;
}

.logo_validate {
    margin-top: -3%;
}

.second_text {
    font-size: 1rem;
    margin-top: -6%;
}

.third_text {
    font-size: 1rem;
    margin-top: 20px;
}