body {
    margin: 0;
    height: 100vh;
}

.testzuby {
    height: 100vh;
    background: linear-gradient(-210deg, rgb(240, 30, 95), rgb(236, 101, 47));
}

.research-container {
    border-radius: 6px;
    background-color: rgba(8, 7, 7, 0.351);
    height: 15vh;
    margin-top: 8vh;
    margin-left: 2%;
    margin-right: 2%;
}

.box-research-bar {
    //background-color: rgba(255, 255, 255, 0.492);
    display: flex;
    border-radius: 6px 6px 0 0;
    //border: rgba(0, 0, 0, 0.781) 1px solid;
}

.icone-research {
    width: 5%;
    border: black solid 1px;
    border-radius: 6px 0 0 0;
    height: 29px;
    background-color: rgb(255, 255, 255);
    position: relative;
    //margin: auto;
}

.research-image {
    margin: 0;
    left: 29%;
    //transform: translateX(-50%);
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}

.research-bar {
    width: 85%;
    height: 30px;
    border: rgba(0, 0, 0, 0.781) 1px solid;
}

.input-research-bar {
    margin: 0;
    border-radius: 0;
    width: 100%;
}

.button-research {
    width: 10%;
    height: 30px;
    //font-size: 0.8rem;
    border-radius: 5%;
}

.real-button-research {
    width: 100%;
    height: 100%;
    border-radius: 0 6px 0 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,0.4) 0 1px 0;
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 0.8em;
    border-top: 1px solid #eb9c9c;
    background: linear-gradient(180deg, rgb(199, 56, 68), rgb(217, 110, 80));
}

.real-button-research:hover {
    border-top-color: rgb(211, 74, 74);
    background: rgb(121, 23, 23);
}

.container-photo-profil {
    background-color: rgba(8, 7, 7, 0.351);
    margin: 4vh 20px 0 20px;
    height: 63.3vh;
}

.container-4-profil{
    justify-content: space-around;
    display: flex;
}

.photo-profil {
    background-color: rgba(219, 218, 206, 0.389);
    border: solid 1px black;
    width: 13rem;
    height: 13rem;
    //flex-grow: 1;
    margin: 15px 0;
    display: flex;
    position: relative;
}