@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
	background-color: $background;

	.profile-selector {
		display: flex;
		list-style: none;
		width: 100%;
		padding: 0%;
		margin: 0;
		height: 5vh;
		font-family: "poppins";

		.li-profile-selector,
		.li-profile-selector-active {
			display: flex;
			border: solid 2px rgba(37, 34, 34, 0.527);
			border-radius: 3px 3px 0px 0px;
			width: 50%;
			align-items: center;
			justify-content: center;
		}

		.li-profile-selector {
			background-color: $secondary;
		}

		.li-profile-selector-active {
			background-color: $primary;
		}

		.li-profile-selector:hover {
			background-color: $tertiary;
		}
	}
}
