.bar-photo-profil {
    height: 5vh;
    width: 100%;
    bottom: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.541);
    display: flex;
    justify-content: space-around;
    //vertical-align: center;
}

.icon-bar {
    margin-top: 1vh;
}