.buble-hashtag {
    margin: auto 15px;
    width: 8%;
    height: 30px;
    background-color: #f8b4b6;
    color: #33272a;
    font-size: 1.2rem;
    border-radius: 15px;
    text-align: center;
    border: #33272a 2px solid;
    font-family: sans-serif;
}