@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Poppins&display=swap');

.grid-container-signin {
    display: grid;
    background-color: rgba(46, 41, 41, 0.493);
    border-radius: 0px 0px 4px 4px;
    //grid-template-columns: 30% 70%;
    //padding: 20px;
    // margin-left: 35%;
    // margin-right: 35%;
    margin: auto;
    width: 300px;
    height: 255px;
    grid-row-gap: 20px;
}

form {
    //margin: auto;
    //text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "i1"
        "i2"
        "i3";
}

#email {
    grid-area: i1;
}

#password {
    grid-area: i2;
}

input[type="submit"] {
    grid-area: i3;
    color: rgb(255, 255, 255);
    background-color: rgba(31, 122, 226, 0.63);
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.2s;
    height: 30px;
}

input[type="submit"]:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(31, 122, 226);
}

input {
    margin: 5px;
    padding: 3px 10px 5px 10px;
    border-radius: 4px;
    border: solid 2px rgba(37, 34, 34, 0.527);
    //border: 2px rgba(202, 15, 15, 0.466) solid;
    //height: 2.1rem;
    //width: 25rem;
}