.groupe8_block {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    border: 2px solid black;
    justify-content: space-between;
}

.container_image_details_users {
    position: relative;
    justify-content: space-evenly;
    height: 164px;
    width: 164px;
}

.users_details {
    position:absolute;
    color: white;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.432);
    width: 154px;
    height: 164px;
    padding-left: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.container_image_details_users:hover .users_details {
    opacity: 1;
}

.user_image_home{
    height: 164px;
    width: 164px;
}

.container_image_details_users:hover img {
    filter: brightness(25%) blur(5px);
}
